/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/* Heading Styles */
h1 {
    margin: 20px;
    color: #333;
}

/* Container Styles */
.container {
    width: 100%;
    padding: 0 20px; /* Add horizontal padding for alignment */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Section Styles */
.section {
    flex: 1 1 calc(33.333% - 20px); /* Adjust for gaps */
    padding: 40px 20px 20px 20px; 
    border-radius: 8px;
    color: #000;
    border: 1px solid #333;
    background-color: #fff;
    font-size: 16px;
    position: relative;
}

/* Title Styles */
.title {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 0; 
    right: 0; 
    border: 1px solid #333;
    border-radius: 0;
    font-weight: bold;
    margin: 0;
}

/* Section Colors */
.section:nth-child(1) {
    background-color: #f4a261;
}

.section:nth-child(2) {
    background-color: #e76f51;
}

.section:nth-child(3) {
    background-color: #2a9d8f;
}


@media (min-width: 992px) {
    .section {
        flex: 1 1 calc(33.333% - 20px);
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .section {
        flex: 1 1 calc(50% - 20px);
    }

    .section:nth-child(3) {
        flex: 1 1 100%;
    }
}


@media (
